{% extends 'base.html' %}

{% block title %}Order Success{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow col-md-6 mx-auto p-4 text-center">

        <h3 class="text-success mb-3">Order Successful 🎉</h3>

        <p class="fw-semibold">
            Product: {{ order.product.name }}
        </p>

        <p>
            Quantity: {{ order.quantity }}
        </p>

        <p class="fw-bold text-primary">
            Total Amount: ₹ {{ order.total_amount }}
        </p>

        <a href="{% url 'userservicelist' %}" class="btn btn-outline-primary mt-3">
            Continue Shopping
        </a>

    </div>
</div>
{% endblock %}
